body{
    font-family: sans-serif;
    background-color: rgb(223, 223, 223);
}

.content{
    border: 7px solid rgb(0, 0, 0);
    width: 1024px;
    height: 100%;
    margin: auto;
}

.flex-top{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.flex-item1{
    margin-top: 48px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.noti{
    position: absolute;
    display: grid;
    background-color: tomato;
    width: 3rem;
    height: 3rem;
    border-radius: 999px;
    right: 5px;
    bottom: 56px;
    place-items: center;
    color: white ;
}

.avatar{
    background-color: rgb(231, 178, 178);
    overflow: auto;
    width: 150px;
    height: 150px;
    border-radius: 128px;
    background-size: cover;
    background-position: center;
}

.flex-item2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(3,300px);
    grid-template-rows: repeat(4,300px);
    gap: 10px;
    place-items: center;
    margin: 50px;
}

.gallery-item{
    background-color: rgb(238, 206, 136);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

a:hover {
    background-color: rgb(176, 211, 241);
}

